{% extends 'base.html' %}

{% block content %}
<div class="raw-page">
    <div class="footer-container">
        <h1>Details du portfolio</h1>

        <div class="technic-details">
            <h3>Détails techniques</h3>
            <p>Backend fait avec <a href="https://www.djangoproject.com/"> Django</a></p>
            <p>Front-end géré par <a href="https://nextjs.org/">Next.js</a></p>

            <p>Polices de <a href="https://fonts.google.com/">Google Fonts</a></p>
            <p>Icônes de <a href="https://icons8.com/">Icons 8</a></p>
            <p>Vidéos de <a href="">Google DeepMind</a></p>
        </div>
    </div>
</div>

{% endblock %}