{% extends 'base.html' %}

{% block content %}
<div class="raw-page">
    <h1>Conditions Générales d'Utilisation</h1>
        <p>Bienvenue sur notre site. En naviguant sur ce site, vous acceptez pleinement et entièrement les présentes conditions générales d'utilisation.</p>
        
        <h2>1. Objet</h2>
        <p>Les présentes conditions ont pour objet de définir les modalités et conditions d'utilisation du site.</p>
        
        <h2>2. Accès au site</h2>
        <p>L'accès au site est libre et gratuit pour tout utilisateur disposant d'un accès à Internet.</p>
        
        <h2>3. Responsabilités</h2>
        <p>Nous ne pourrons être tenus responsables en cas d'indisponibilité du site, de bugs ou de tout dommage résultant de l'utilisation du site.</p>
        
        <h2>4. Propriété intellectuelle</h2>
        <p>Tous les contenus présents sur ce site sont protégés par le droit d'auteur et ne peuvent être reproduits sans autorisation.</p>
        
        <h2>5. Données personnelles</h2>
        <p>Les informations collectées sur ce site sont utilisées uniquement dans le cadre de l'exploitation du service et ne seront jamais revendues à des tiers.</p>
        
        <h2>6. Modifications</h2>
        <p>Nous nous réservons le droit de modifier ces conditions générales à tout moment sans préavis.</p>
        
        <p>Dernière mise à jour : {{update_date}}</p>
</div>

{% endblock %}