.txt-center{text-align: center;}
.txt-left{text-align: left;}
.txt-right{text-align: right;}
.capitalize{text-transform:capitalize;}
.lowercase{text-transform:lowercase;}
.uppercase{text-transform:uppercase;}

h1{font-size: 2em;}
h2{font-size: 1.8em;}
h3{font-size: 1.6em;}
h4{font-size: 1.4em;}
h5{font-size: 1.2em;}
h6{font-size: 1em;}
p{font-size: 1em;}
a{font-size: 1em;}