:root {
    --red: #ff3737;
    --green: #2ecc71;
    --blue: #4f7ed4;
    --yellow: #f7dc6f;
    --orange: #ffa07a;
    --purple: #9b59b6;
    --pink: #e41e6c;
    --brown: #786c3b;
    --grey: #95a5a6;
    --black: #000000;
    --white: #ffffff;
    --dark-green: #228B22;
    --light-green: #90EE90;
    --dark-blue: #032B44;
    --light-blue: #ADD8E6;
    --dark-red: #8B0000;
    --light-red: #FFC080;
    --dark-yellow: #DAA520;
    --light-yellow: #FFFF00;
    --dark-orange: #FF4500;
    --light-orange: #FFA500;
    --dark-purple: #4B0082;
    --light-purple: #C71585;
    --dark-pink: #FF69B4;
    --light-pink: #FFB6C1;
    --dark-brown: #452B1F;
    --light-brown: #964B00;
    --dark-grey: #808080;
    --light-grey: #C0C0C0;
    --dark-black: #000000;
    --light-black: #333333;
}

.color-red { color: var(--red); }
.color-green { color: var(--green); }
.color-blue { color: var(--blue); }
.color-yellow { color: var(--yellow); }
.color-orange { color: var(--orange); }
.color-purple { color: var(--purple); }
.color-pink { color: var(--pink); }
.color-brown { color: var(--brown); }
.color-grey { color: var(--grey); }
.color-black { color: var(--black); }
.color-white { color: var(--white); }
.color-dark-green { color: var(--dark-green); }
.color-light-green { color: var(--light-green); }
.color-dark-blue { color: var(--dark-blue); }
.color-light-blue { color: var(--light-blue); }
.color-dark-red { color: var(--dark-red); }
.color-light-red { color: var(--light-red); }
.color-dark-yellow { color: var(--dark-yellow); }
.color-light-yellow { color: var(--light-yellow); }
.color-dark-orange { color: var(--dark-orange); }
.color-light-orange { color: var(--light-orange); }
.color-dark-purple { color: var(--dark-purple); }
.color-light-purple { color: var(--light-purple); }
.color-dark-pink { color: var(--dark-pink); }
.color-light-pink { color: var(--light-pink); }
.color-dark-brown { color: var(--dark-brown); }
.color-light-brown { color: var(--light-brown); }
.color-dark-grey { color: var(--dark-grey); }
.color-light-grey { color: var(--light-grey); }
.color-dark-black { color: var(--dark-black); }
.color-light-black { color: var(--light-black); }

.color-10-percent { color: rgba(0, 0, 0, 0.1); }
.color-20-percent { color: rgba(0, 0, 0, 0.2); }
.color-30-percent { color: rgba(0, 0, 0, 0.3); }
.color-40-percent { color: rgba(0, 0, 0, 0.4); }
.color-50-percent { color: rgba(0, 0, 0, 0.5); }
.color-60-percent { color: rgba(0, 0, 0, 0.6); }
.color-70-percent { color: rgba(0, 0, 0, 0.7); }
.color-80-percent { color: rgba(0, 0, 0, 0.8); }

.bg-red { background-color: var(--red); }
.bg-green { background-color: var(--green); }
.bg-blue { background-color: var(--blue); }
.bg-yellow { background-color: var(--yellow); }
.bg-orange { background-color: var(--orange); }
.bg-purple { background-color: var(--purple); }
.bg-pink { background-color: var(--pink); }
.bg-brown { background-color: var(--brown); }
.bg-grey { background-color: var(--grey); }
.bg-black { background-color: var(--black); }
.bg-white { background-color: var(--white); }
.bg-dark-green { background-color: var(--dark-green); }
.bg-light-green { background-color: var(--light-green); }
.bg-dark-blue { background-color: var(--dark-blue); }
.bg-light-blue { background-color: var(--light-blue); }
.bg-dark-red { background-color: var(--dark-red); }
.bg-light-red { background-color: var(--light-red); }
.bg-dark-yellow { background-color: var(--dark-yellow); }
.bg-light-yellow { background-color: var(--light-yellow); }
.bg-dark-orange { background-color: var(--dark-orange); }
.bg-light-orange { background-color: var(--light-orange); }
.bg-dark-purple { background-color: var(--dark-purple); }
.bg-light-purple { background-color: var(--light-purple); }
.bg-dark-pink { background-color: var(--dark-pink); }
.bg-light-pink { background-color: var(--light-pink); }
.bg-dark-brown { background-color: var(--dark-brown); }
.bg-light-brown { background-color: var(--light-brown); }
.bg-dark-grey { background-color: var(--dark-grey); }
.bg-light-grey { background-color: var(--light-grey); }
.bg-dark-black { background-color: var(--dark-black); }
.bg-light-black { background-color: var(--light-black); }

.border-red { border-color: var(--red); }
.border-green { border-color: var(--green); }
.border-blue { border-color: var(--blue); }
.border-yellow { border-color: var(--yellow); }
.border-orange { border-color: var(--orange); }
.border-purple { border-color: var(--purple); }
.border-pink { border-color: var(--pink); }
.border-brown { border-color: var(--brown); }
.border-grey { border-color: var(--grey); }
.border-black { border-color: var(--black); }
.border-white { border-color: var(--white); }
.border-dark-green { border-color: var(--dark-green); }
.border-light-green { border-color: var(--light-green); }
.border-dark-blue { border-color: var(--dark-blue); }
.border-light-blue { border-color: var(--light-blue); }
.border-dark-red { border-color: var(--dark-red); }
.border-light-red { border-color: var(--light-red); }
.border-dark-yellow { border-color: var(--dark-yellow); }
.border-light-yellow { border-color: var(--light-yellow); }
.border-dark-orange { border-color: var(--dark-orange); }
.border-light-orange { border-color: var(--light-orange); }
.border-dark-purple { border-color: var(--dark-purple); }
.border-light-purple { border-color: var(--light-purple); }
.border-dark-pink { border-color: var(--dark-pink); }
.border-light-pink { border-color: var(--light-pink); }
.border-dark-brown { border-color: var(--dark-brown); }
.border-light-brown { border-color: var(--light-brown); }
.border-dark-grey { border-color: var(--dark-grey); }
.border-light-grey { border-color: var(--light-grey); }
.border-dark-black { border-color: var(--dark-black); }
.border-light-black { border-color: var(--light-black); }

@media (prefers-color-scheme: dark) {
    .scheme {
        --white: var(--black);
        --black: var(--white);
        --dark-green: var(--light-green);
        --light-green: var(--dark-green);
        --dark-blue: var(--light-blue);
        --light-blue: var(--dark-blue);
        --dark-red: var(--light-red);
        --light-red: var(--dark-red);
        --dark-yellow: var(--light-yellow);
        --light-yellow: var(--dark-yellow);
        --dark-orange: var(--light-orange);
        --light-orange: var(--dark-orange);
        --dark-purple: var(--light-purple);
        --light-purple: var(--dark-purple);
        --dark-pink: var(--light-pink);
        --light-pink: var(--dark-pink);
        --dark-brown: var(--light-brown);
        --light-brown: var(--dark-brown);
        --dark-grey: var(--light-grey);
        --light-grey: var(--dark-grey);
        --dark-black: var(--light-black);
        --light-black: var(--dark-black);
    }
}


