asgiref==3.8.1
Django==5.1.6
django-crispy-forms==2.3
django-ratelimit==4.1.0
django-recaptcha==4.0.0
djangorestframework==3.15.2
gunicorn==23.0.0
Markdown==3.7
mysqlclient==2.2.7
packaging==24.2
pillow==11.1.0
python-decouple==3.8
sqlparse==0.5.3
