{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-part">
    <div class="page-container">
        <h1 class="scheme color-black">401 - Non autorisé</h1>
        <p>L'accès à une ressource protégée est refusé en raison d'informations d'identification manquantes ou incorrectes; pour la résoudre, vérifiez vos identifiants, assurez-vous qu'ils ne sont pas expirés et videz le cache ou les cookies de votre navigateur.</p>
        <p></p>
    </div>
</div>
{% endblock %}