{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-part">
    <div class="page-container">
        <h1 class="scheme color-black">404 - page introuvable</h1>
        <p>La légende attribue le numéro d’erreur « 404 » à l’anecdote selon laquelle « au CERN, en Suisse, les chercheurs, excédés d’aller sans cesse relancer un serveur défaillant installé dans le bureau n° 404, aient attribué ce numéro d’erreur au défaut de connexion, en souvenir de cette pièce maudite ». <br> Cette légende a été démentie par <a href="https://fr.wikipedia.org/wiki/Tim_Berners-Lee">Tim Berners-Lee</a> lors d'une séance de questions-réponses menée sur Reddit en mars 2014.</p>
        <i><a href="https://fr.wikipedia.org/wiki/Erreur_HTTP_404">Wikipédia</a></i>
    </div>
</div>
{% endblock %}